.main.ui.container {
  margin-top: 6rem;
}

.main.ui.container > .message {
  margin-bottom: 2rem;
}

.ui.menu .item img.logo {
  /*margin-right: 1.5rem;*/
}

a, a:link, a:visited {
  color: #2e51a2;
}

a:hover, a:focus, a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
  color: #5773b4;
}

a:active, a:visited:active {
  background: #eaedf5;
  background: rgba(46, 81, 162, 0.1);
}

.inline-code {
  padding-left: 0.3em;
  padding-right: 0.3em;
  /*overflow-x: auto;*/
  background: #F0F0F0;
  font-family: monospace;
  word-wrap: break-word;
}

.code {
  white-space: pre-wrap;
}

.json .property {
  color: black;
  /*font-weight: bold;*/
}

.json .type-string {
  color: green;
}

.json .type-null {
  color: gray;
}

.json .type-int {
  color: blue;
}

.json .type-comment {
  color: #bc8f8f;
}