<phpunit>
  <testsuites>
    <testsuite name="Models">
      <directory>./tests/models</directory>
    </testsuite>
    <testsuite name="Parsers">
      <directory>./tests/parsers</directory>
    </testsuite>
    <!--<testsuite name="Methods"></testsuite>-->
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/models</directory>
      <directory suffix=".php">src/parsers</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="coverage"/>
  </logging>
</phpunit>